
<section>
    <div class="row">
        <nb-card class="dd-card-container col-sm-12 col-md-6 col-xl-4">
            <nb-card-body class="dd-card">
                <div class="dd-card-header">
                    <h3>Does the project has an unified code standard?</h3>
                </div>
                <section class="dd-card-content">
                    <div class="row checkboxes-radio">
                        <div class="col-sm-4">
                            <nb-radio-group class="radio-group"
                                [(value)]="reposnseValue">
                                <nb-radio class="radio-button"
                                    [value]="'yes'">
                                    Yes
                                </nb-radio>
                                <nb-radio class="radio-button"
                                    [value]="'no'">
                                    No
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group details-area">
                                <textarea rows="5" nbInput fullWidth shape="square"  placeholder="Details"></textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </nb-card-body>
        </nb-card>
        <nb-card class="dd-card-container col-sm-12 col-md-6 col-xl-4">
            <nb-card-body class="dd-card">
                <div class="dd-card-header">
                    <h3>Is the coding standard imposed? (coding style integrated in the build)</h3>
                </div>
                <section class="dd-card-content">
                    <div class="row checkboxes-radio">
                        <div class="col-sm-4">
                            <nb-radio-group class="radio-group"
                                [(value)]="reposnseValue">
                                <nb-radio class="radio-button"
                                    [value]="'yes'">
                                    Yes
                                </nb-radio>
                                <nb-radio class="radio-button"
                                    [value]="'no'">
                                    No
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group details-area">
                                <textarea rows="5" nbInput fullWidth shape="square"  placeholder="Details"></textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </nb-card-body>
        </nb-card>
        <nb-card class="dd-card-container col-sm-12 col-md-6 col-xl-4">
            <nb-card-body class="dd-card">
                <div class="dd-card-header">
                    <h3>Does the prpject has an unified code standard?</h3>
                </div>
                <section class="dd-card-content">
                    <div class="row checkboxes-radio">
                        <div class="col-sm-4">
                            <nb-radio-group class="radio-group"
                                [(value)]="reposnseValue">
                                <nb-radio class="radio-button"
                                    [value]="'yes'">
                                    Yes
                                </nb-radio>
                                <nb-radio class="radio-button"
                                    [value]="'no'">
                                    No
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group details-area">
                                <textarea rows="5" nbInput fullWidth shape="square"  placeholder="Details"></textarea>
                            </div>
                        </div>
                    </div>
                </section>
            </nb-card-body>
        </nb-card>
    </div>
</section>
