.input-group {
    display: inline-block;
    padding-top: 20px;

    .form-control {
        width: 100%;
    }
}

.input-with-action {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.form-action {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.repository {
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.form-action.save {
    padding: 10px 25px 5px;
}
