<div class="row">
    <nb-card class="dd-card-container col-xl-4 col-lg-6 col-sm-12" *ngFor="let key of objectKeys(metrics)">
        <nb-card-body class="dd-card">
            <div class="dd-card-header">
                <h3>{{key}}</h3>
            </div>
            <section class="dd-card-content">
                <div class="chart-container">
                    <ngx-charts-line-chart
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="metrics[key]"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        [autoScale]="autoScale">
                    </ngx-charts-line-chart>
                </div>
            </section>
        </nb-card-body>
    </nb-card>
</div>
