// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';

//fonts
$FontPathOpenSans: '../../../../node_modules/open-sans-fonts/open-sans';
@import '../../../../node_modules/open-sans-fonts/_open-sans-regular';
@import '../../../../node_modules/open-sans-fonts/_open-sans-semibold';
// ...

// global app font size
@import './font-size';


// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

};

.nb-theme-corporate {
  background: #f0f3f4;
  color: #666;
  font-family: 'Open Sans' !important;

  nb-layout .layout .layout-container .content .columns {
    nb-layout-column {
      padding: 2.25rem 3.25rem;
    }
  }

  .dd-card-container {
    background: none;
    border: none;

    .dd-card {
      background-color: #fff;
      border: none;
      border-radius: 5px;
      display: block;
      position: relative;
      padding: 5px 0;
      margin-bottom: 24px;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.25);
      font-family: 'Open Sans';

      .dd-card-content {
        margin: 0 15px;
      }

      .dd-card-header {
        height: 44px;
        padding: 13px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        overflow: hidden;

        h3 {
          font-size: 16px;
          font-weight: 600;
          color: #666;
          float: left;
        }
      }

      ul {
        padding-left: 0;
      }
    }

    //ngx charts styles
    g.x.axis line {
      display: none !important;
    }
    svg.ngx-charts path {
      stroke-width: 3px;
    }
  }
}


button {
  color: #666;
  border: 1px solid #d6d6d6;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 40px;
  transition: background-color 0.2s;
  cursor: pointer;
  &:hover {
      background-color: rgba(0, 0, 0, 0.1);
  }
}
.status-alert {
  background: #e85656;
}

.status-warn {
  background: #dfb81c;
}

.status-ok {
  background: #90b900;
}

.status-undefined {
  background: #666;
}

.status-text-alert {
  color: #e85656;
}

.status-text-warn {
  color: #dfb81c;
}

.status-text-ok {
  color: #90b900;
}
