
<section>
    <div class="row">
        <div class="dd-card-container col-sm-12">
            <nb-card-body class="dd-card">
                <button class="add-proj-btn float-right" (click)="createNewProject()">New Project</button>
            </nb-card-body>
        </div>
    </div>
    <div class="row">
        <nb-card class="dd-card-container col-xl-4 col-lg-6 col-sm-12" *ngFor="let project of projects">
            <nb-card-body class="dd-card">
                <div class="dd-card-header">
                    <h3>{{project.name}}</h3>
                    <span class="dd-project-date">{{project.date}}</span>
                </div>
                <section class="dd-card-content">
                    <div class="dd-left-status">
                        <div class="title-container">
                            <span class="icon-title status-alert">D</span>
                            <span class="status-title">elivery</span>
                        </div>
                        <div class="code-coverage">
                            <div class="percentage">
                                <ngx-charts-bar-vertical [view]="qualityView" [scheme]="qualityColorScheme" [results]="mockQualityData" [gradient]="gradient"
                                [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [tooltipDisabled]="true" [roundEdges]="false">
                                </ngx-charts-bar-vertical>
                            </div>
                            <div class="chart-label">Overall delivery status</div>
                        </div>
                        <div class="codebase-health-container">
                            <h3>Delivery status</h3>
                            <ul>
                                <li><span class="status status-alert"><i class="ion-alert-circled"></i></span> Throughput
                                </li>
                                <li><span class="status status-warn"><i class="ion-flag"></i></span> Staffing <span>
                                        (24/25)</span></li>
                                <li><span class="status status-ok"><i class="ion-checkmark-circled"></i></span> Risk</li>
                            </ul>
                        </div>
                        <div class="details-container">
                            <button class="details-proj-btn">Details</button>
                        </div>
                    </div>
                    <div class="dd-right-status">
                        <div class="title-container">
                            <span class="icon-title status-ok">Q</span>
                            <span class="status-title">uality</span>
                        </div>
                        <div class="code-coverage">
                            <div class="percentage">
                                <ngx-charts-pie-chart [view]="view" arcWidth=0.25 [scheme]="colorScheme" [labels]="false"
                                    [results]="project.overallCoverageChartData" [gradient]="gradient" [tooltipDisabled]="true" [doughnut]="true"
                                    (select)="onSelect($event)">
                                </ngx-charts-pie-chart>
                            </div>
                            <div class="percentage-label">{{project.latestQualityReportData.sonarQubeReport.overallCoverage.toFixed(0)}}%</div>
                            <div class="chart-label">Overall code coverage</div>
                        </div>
                        <div class="codebase-health-container">
                            <h3>Codebase Health</h3>
                            <ul>
                                <li><span class="status status-alert"><i class="ion-alert-circled"></i></span> Bugs
                                    <span class="value">{{project.latestQualityReportData.sonarQubeReport.totalBugs}}</span>
                                </li>
                                <li><span class="status status-warn"><i class="ion-flag"></i></span> Vulnerabilites
                                    <span class="value">{{project.latestQualityReportData.sonarQubeReport.totalVulnerabilities}}</span>
                                </li>
                                <li><span class="status status-ok"><i class="ion-checkmark-circled"></i></span> Code Smell
                                    <span class="value">{{project.latestQualityReportData.sonarQubeReport.totalCodeSmells}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="details-container">
                            <button class="details-proj-btn" (click)="getDeliveryDetails(project.id)">Details</button>
                            <button class="add-proj-btn float-right" (click)="editProject(project.id)">Edit Project</button>
                        </div>
                    </div>
                </section>
            </nb-card-body>
        </nb-card>
    </div>
</section>
